<div id="changeCards" class="container">
  <!--<div id="cards" style="overflow:scroll; border:3px black solid; height:80vh">-->

    <div class="col-md-6 well" ng-repeat="piece in pieces">
      <div class="row" style="min-height: 200px;">
        <div class="col-md-3" ng-hide="$index == edited">
          <b>Title</b>: {{piece.title}}<br>
          <b>Artist</b>: {{piece.artist}}<br>
          <b>Material</b>: {{piece.material}}<br>
          <b>Country</b>: {{piece.country}}<br>
          <b>Period</b>: {{piece.period}}<br>
        </div>
        <div ng-show="$index == edited">
          <form novalidate class="simple-form">
            <b>Title</b>: <input type="text" ng-model="piece.title"><br>
            <b>Artist</b>: <input type="text" ng-model="piece.artist"><br>
            <b>Material</b>: <input type="text" ng-model="piece.material"><br>
            <b>Country</b>: <input type="text" ng-model="piece.country"><br>
            <b>Period</b>: <input type="text" ng-model="piece.period"><br>
          </form>
          <input filepicker type="filepicker" data-fp-services="computer,facebook,webcam,box" class="btn btn-default" on-success="imageToEdit(event.fpfile)"  />

        </div>
        <div class="col-md-3" style="height:100%">
          <img class="img-responsive" ng-src="{{piece.image}}">
        </div>
      </div>

        <button style="margin-top:20px" class="btn btn-default" ng-click="editContact($index)">
          <span ng-hide="$index == edited">Edit</span>
          <span ng-show="$index == edited">Done</span>
        </button>
        <a href="#/changecards"><button style="margin-top:20px" class="btn btn-default" ng-click="deleteContact(piece._id)">Delete</button></a>
        <!-- ng-click="deleteContact(piece._id)"-->
    <!--  </div>-->
    </div>

    <div ng-show="adding">
      <b>Add new contact</b>:
      <form novalidate class="simple-form">
        <b>Title</b>: <input type="text" ng-model="toAdd.title"><br>
        <b>Artist</b>: <input type="text" ng-model="toAdd.artist"><br>
        <b>Material</b>: <input type="text" ng-model="toAdd.material"><br>
        <b>Country</b>: <input type="text" ng-model="toAdd.country"><br>
        <b>Period</b>: <input type="text" ng-model="toAdd.period"><br>
      </form>

      <input filepicker type="filepicker" data-fp-services="computer,facebook,webcam,box" class="btn btn-default" on-success="imageToAdd(event.fpfile)"  />

    </div>

    <button ng-hide="adding" style="margin-top:20px" class="btn btn-default" ng-click="addContact()">Add</button>
    <button ng-show="adding" style="margin-top:20px" class="btn btn-default" ng-click="addContactDone()">Done</button>



  <br>
  <br>
  <a ng-href="#/quiz/{{set}}">Get quizzed</a>
<br>
<br>
<br>
<br>
<br>

<!--

  New name: <input type="text" ng-model="newName">
  <a ng-click="testNewCollection(newName)">Test</a>

  <div class='jumbotron text-center'>
    <h1>Welcome to Filestack starter</h1>

    <input filepicker type="filepicker" data-fp-services="computer,facebook,webcam,box" on-success="onSuccess(event.fpfile)" data-fp-button-class="btn btn-success" />

  </div>

</div>


<div class='row'>
    <div class='col-sm-12'>
        <h3>Uploaded images</h3>
        <div class='row' ng-repeat='file in files'>
            <img ng-src='{{file.url}}' />
        </div>
    </div>
</div>
<div class='row'>
    <div class='col-sm-12'>
        <h3>Raw data</h3>
        <pre>{{files | json}}</pre>
    </div>
</div>

-->
