<div id="changeCards">
  <!--<div id="cards" style="overflow:scroll; border:3px black solid; height:80vh">-->

    <div ng-repeat="piece in pieces" style="margin:5px; border:1px #aaa solid">
      <div ng-hide="$index == edited">
        <b>Title</b>:{{piece.title}}<br>
        <b>Artist</b>: {{piece.artist}}<br>
        <b>Material</b>: {{piece.material}}<br>
        <b>Country</b>: {{piece.country}}<br>
        <b>Period</b>: {{piece.period}}<br>
      </div>
      <div ng-show="$index == edited">
        bool

      </div>

      {{$index}}

      <button style="margin-top:20px" class="btn btn-default" ng-click="editContact($index)">Edit</button>
      <a href="#/changecards"><button style="margin-top:20px" class="btn btn-default" ng-click="deleteContact(piece._id)">Delete</button></a>
      <!-- ng-click="deleteContact(piece._id)"-->
  <!--  </div>-->
    </div>
  <br>
  <br>
  <a ng-href="#/quiz">Get quizzed</a>
</div>
