
    <div id="quizItself">
      <h2>Guess the image</h2>
      <p class="text-center"><img ng-src="asian/{{current.image}}" class="img-rounded mainQuiz" style="width: 500px;"></p><br>
      <br>
      <form class="form-horizontal" role="form">
        <div class="form-group" ng-show="current.title">
          <label class="control-label col-sm-2" for="title">Title:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="title" ng-model="guess.title">
            <div ng-show="phaseOne">
              <h5>
              <div ng-show="correct[0]"><p class="text-success">Correct!</p></div>
              <div ng-hide="correct[0]"><p class="text-danger">Correct answer: {{current.title}}</p></div>
              </h5>
            </div>

          </div>
        </div>

        <div class="form-group" ng-show="current.artist">
          <label class="control-label col-sm-2" for="artist">Artist:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="artist" ng-model="guess.artist">
            <div ng-show="phaseOne">
              <h5>
              <div ng-show="correct[1]"><p class="text-success">Correct!</p></div>
              <div ng-hide="correct[1]"><p class="text-danger">Correct answer: {{current.artist}}</p></div>
              </h5>
            </div>
          </div>
        </div>
        <div class="form-group" ng-show="current.country">
          <label class="control-label col-sm-2" for="country">Country:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="country" ng-model="guess.country">
            <div ng-show="phaseOne">
              <h5>
              <div ng-show="correct[2]"><p class="text-success">Correct!</p></div>
              <div ng-hide="correct[2]"><p class="text-danger">Correct answer: {{current.country}}</p></div>
              </h5>
            </div>
          </div>
        </div>
        <div class="form-group" ng-show="current.period">
          <label class="control-label col-sm-2" for="period">Period:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="period" ng-model="guess.period">
            <div ng-show="phaseOne">
              <h5>
              <div ng-show="correct[3]"><p class="text-success">Correct!</p></div>
              <div ng-hide="correct[3]"><p class="text-danger">Correct answer: {{current.period}}</p></div>
              </h5>
            </div>
          </div>
        </div>
        <div class="form-group" ng-show="current.material">
          <label class="control-label col-sm-2" for="material">Material:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="material" ng-model="guess.material">
            <div ng-show="phaseOne">
              <h5>
              <div ng-show="correct[4]"><p class="text-success">Correct!</p></div>
              <div ng-hide="correct[4]"><p class="text-danger">Correct answer: {{current.material}}</p></div>
              </h5>
            </div>
          </div>
        </div>
        <p class="text-center">
          <input type="submit" value="Submit guess" ng-hide="phaseOne" ng-click="submitGuess()">


          <input type="Submit" value="Continue (nice job!)" ng-show="phaseOne && allCorrect" ng-click="right()">
          <input type="Submit" value="Continue" ng-show="phaseOne && !allCorrect" ng-click="wrong()">
          
          <input type="Submit" value="Override: I was correct" ng-show="phaseOne && !allCorrect" ng-click="right()">

        <br>
        <br>
        {{pieces.length}} remaining out of {{originalLength}}

        <br>
        <br>
        <a ng-href="#/changecards">Edit cards</a>

        </p>
        <br>
      </form>
    </div>
